/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .desktop{
        display: none;
    }
    .tablet{
        display: none;
    }
  }




  /* Estilos para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1199px) {
    .desktop{
        display: none;
    }
    .movil{
        display: none;
    }
  }






  /* Estilos para pantallas grandes (computadoras portátiles y de escritorio) */
@media (min-width: 1200px) {
    .tablet{
        display: none;
    }
    .movil{
        display: none;
    }
  }

  
  
  
  
  
  
body{
    background-color: black;
    font-weight: 500;
    
}
.fondo2{
    background-image: url(fond2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.fondo1{
    background-image: url(img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 130vh;
    color: white;
}
.fondo_sm{
    background-image: url(fonfo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    height: 130vh;
    color: white;
}
.fondo_lg{
    background-image: url(fondo_lg_r.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    height: 130vh;
    color: white;
}
.templo{
    text-align: center ;
    color: white;
    font-family: 'Lily Script One', cursive;
    font-family: 'Whisper', cursive;
    font-size: 55px;
    font-weight: 590;
}

.templo2{
    background-color: black;
    text-align: center ;
    color: white;
    margin: 0 0 0 0;
    font-family: 'Lily Script One', cursive;
    font-family: 'Whisper', cursive;
    font-size: 55px;
    font-weight: 590;
}
.templo3{
    text-align: center ;
    color: white;
    font-family: 'Lily Script One', cursive;
    
    font-size: 45px;
    font-weight: 590;
}
.templo31{
    text-align: center ;
    color: white;
    font-family: 'Lily Script One', cursive;
    
    font-size: 25px;
    font-weight: 590;
}
#moove_gdpr_save_popup_settings_button:not(.gdpr-floating-button-custom-position) {
    bottom: 20px;
    left: 40px;
    bottom: 60px !important;
    background-color: #373737;
    color: #fff;
    display: block;
    z-index: 1001;
    position: fixed;
    background-color: rgb(0, 0, 0);
    transition: all .3s ease;
    color: #fff;
    padding: 0;
    text-align: center;
    height: 88px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0;
    border: none;
    text-decoration: none;
    border-radius: 50px;
}

#imgg{
    filter: brightness(70%);
    height: 88vh;
    object-fit: cover;
    
}



footer .footer_main{
    width: 100%;
    background: #f3f1f1;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #1c0080;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 9px 0;
}

footer .footer_main .tag .social_link{
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    position: relative;
    margin: 0 5px;
    z-index: 10;
    overflow: hidden;
}


footer .footer_main .tag .social_link a:hover i{
    color: white;
}

footer .footer_main .tag .social_link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #c72092 , #6c14d0);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover::after{
    left: 0;
}

.la{
    margin-top: 20px;
    margin-bottom: 6px;
}
.inc{
    font-size: 1.2rem;
}

#lol.navbar{
    flex-direction: row; flex-wrap: nowrap;
}

.center{
    justify-content: center !important; 
}

/* .navbar>.container, .navbar>.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
} */